<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                    <h2 class="">Bagaimana menggunakan <span class="hackmdk3-text-color">Birokrazy</span>?</h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <div class="embed-responsive embed-responsive-16by9 box-shadow--6dp">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/H6SBchC2hVo"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

