<div class="hackmdk3-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>KTP Elektronik</h1>
                    <span>Kartu tanda penduduk elektronik</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs hackmdk3-nav-justified">
                <li ng-class="{ active: isActive('/e-ktp')}" role="presentation">
                    <a href="/e-ktp">Informasi</a>
                </li>
                <li ng-class="{ active: isActive('/e-ktp/review')}" role="presentation">
                    <a href="/e-ktp/review">Review</a>
                </li>
                <li ng-class="{ active: isActive('/e-ktp/proses')}" role="presentation">
                    <a href="/e-ktp/proses">Persyaratan & Proses</a>
                </li>
            </ul>

            <ng-include src="templateUrl"/>


        </div>
    </div>

</div>