<p />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Persyaratan</h2></div>
                <div class="panel-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget erat at leo interdum imperdiet
                        id nec quam. Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a tincidunt
                        vestibulum, erat enim semper diam, id elementum nisl nulla nec metus. Class aptent taciti sociosqu ad
                        litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula eget purus vestibulum
                        mattis. Proin eget massa nulla. In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                        iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae. Suspendisse potenti. Nulla
                        venenatis dapibus erat sed vehicula.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Proses</h2></div>
                <div class="panel-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget erat at leo interdum imperdiet
                        id nec quam. Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a tincidunt
                        vestibulum, erat enim semper diam, id elementum nisl nulla nec metus. Class aptent taciti sociosqu ad
                        litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula eget purus vestibulum
                        mattis. Proin eget massa nulla. In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                        iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae. Suspendisse potenti. Nulla
                        venenatis dapibus erat sed vehicula.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>