<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Deskripsi</h3>
    </div>
    <div class="panel-body" align="justify">

        <p>
            KTP Elektronik atau e-KTP adalah dokumen kependudukan yang memuat sistem keamanan / pengendalian baik dari
            sisi
            administrasi ataupun teknologi informasi dengan berbasis pada database kependudukan nasional.
        </p>

        <p>
            Penduduk hanya diperbolehkan memiliki 1 (satu) KTP yang tercantum Nomor Induk Kependudukan (NIK). NIK
            merupakan identitas tunggal setiap penduduk dan berlaku seumur hidup
        </p>

        <p>
            Nomor NIK yang ada di e-KTP nantinya akan dijadikan dasar dalam penerbitan Paspor, Surat Izin Mengemudi
            (SIM), Nomor Pokok Wajib Pajak (NPWP), Polis Asuransi, Sertifikat atas Hak Tanah dan penerbitan dokumen
            identitas lainnya (Pasal 13 UU No. 23 Tahun 2006 tentang Adminduk)
        </p>

        <p>
            Autentikasi Kartu Identitas (e-ID) biasanya menggunakan biometrik yaitu verifikasi dan validasi sistem
            melalui pengenalan karakteristik fisik atau tingkah laku manusia. Ada banyak jenis pengamanan dengan cara
            ini, antara lain sidik jari (fingerprint), retina mata, DNA, bentuk wajah, dan bentuk gigi. Pada e-KTP, yang
            digunakan adalah sidik jari.
        </p>

        <p>
            Penggunaan sidik jari e-KTP lebih canggih dari yang selama ini telah diterapkan untuk SIM (Surat Izin
            Mengemudi). Sidik jari tidak sekedar dicetak dalam bentuk gambar (format jpeg) seperti di SIM, tetapi juga
            dapat dikenali melalui chip yang terpasang di kartu. Data yang disimpan di kartu tersebut telah dienkripsi
            dengan algoritma kriptografi tertentu. Proses pengambilan sidik jari dari penduduk sampai dapat dikenali
            dari chip kartu adalah sebagai berikut:
        </p>

        <p>
            Sidik jari yang direkam dari setiap wajib KTP adalah seluruh jari (berjumlah sepuluh), tetapi yang
            dimasukkan datanya dalam chip hanya dua jari, yaitu jempol dan telunjuk kanan. Sidik jari dipilih sebagai
            autentikasi untuk e-KTP karena alasan berikut:
        <ul>
            <li>Biaya paling murah, lebih ekonomis daripada biometrik yang lain</li>
            <li>Bentuk dapat dijaga tidak berubah karena gurat-gurat sidik jari akan kembali ke bentuk semula</li>
            <li>Unik, tidak ada kemungkinan sama walaupun orang kembar</li>
        </ul>
        </p>
        <p>
            Informasi penduduk yang dicantumkan dalam e-KTP ditunjukkan pada layout kasar berikut:
        <ul>
            <li>Nama</li>
            <li>Tempat/Tgl Lahir</li>
            <li>Jenis Kelamin</li>
            <li>Alamat (RT/RW, Kel/Desa, Kecamatan)</li>
            <li>Agama</li>
            <li>Status Pekerjaan</li>
            <li>Kewarganegaraan</li>
            <li>Berlaku Hingga</li>
            <li>Foto</li>
            <li>Tanda Tangan</li>
            <li>NIK</li>
            <li>Untuk mendapatkan informasi di atas dari penduduk, wajib KTP harus mengisi formulir tipe F1.01.</li>
        </ul>
        </p>
        <p>
            Selain tujuan yang hendak dicapai, manfaat e-KTP diharapkan dapat dirasakan sebagai berikut:
        <ul>
            <li>Identitas jati diri tunggal</li>
            <li>Tidak dapat dipalsukan</li>
            <li>Tidak dapat digandakan</li>
            <li>Dapat dipakai sebagai kartu suara dalam pemilu atau pilkada</li>
        </ul>
        </p>
        <p>
            Struktur e-KTP terdiri dari sembilan layer yang akan meningkatkan pengamanan dari KTP konvensional. Chip
            ditanam di antara plastik putih dan transparan pada dua layer teratas (dilihat dari depan). Chip ini
            memiliki antena didalamnya yang akan mengeluarkan gelombang jika digesek. Gelombang inilah yang akan
            dikenali oleh alat pendeteksi e-KTP sehingga dapat diketahui apakah KTP tersebut berada di tangan orang yang
            benar atau tidak. Untuk menciptakan e-KTP dengan sembilan layer, tahap pembuatannya cukup banyak,
            diantaranya:
        <ul>
            <li>Hole punching, yaitu melubangi kartu sebagai tempat meletakkan chip</li>
            <li>Pick and pressure, yaitu menempatkan chip di kartu</li>
            <li>Implanter, yaitu pemasangan antenna (pola melingkar berulang menyerupai spiral)</li>
            <li>Printing,yaitu pencetakan kartu</li>
            <li>Spot welding, yaitu pengepresan kartu dengan aliran listrik</li>
            <li>Laminating, yaitu penutupan kartu dengan plastik pengaman</li>
        </ul>
        </p>
        <p>
            e-KTP dilindungi dengan keamanan pencetakan seperti relief text, microtext, filter image, invisible ink dan
            warna yang berpendar di bawah sinar ultra violet serta anti copy design.
        </p>

        <p>
            Penyimpanan data di dalam chip sesuai dengan standar internasional NISTIR 7123 dan Machine Readable Travel
            Documents ICAO 9303 serta EU Passport Specification 2006. Bentuk KTP elektronik sesuai dengan ISO 7810
            dengan form factor ukuran kartu kredit yaitu 53,98 mm x 85,60 mm.
        </p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Lokasi</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Propinsi</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option>DKI Jakarta</option>
                        <option>Jawa Timur</option>
                        <option>Sulawesi Utara</option>
                        <option>Kalimantan Timur</option>
                        <option>Papua Barat</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kabupaten/ Kota</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option>Jakarta Utara</option>
                        <option>Surabaya</option>
                        <option>Manado</option>
                        <option>Samarinda</option>
                        <option>Sorong</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kecamatan</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option>Kelapa Gading</option>
                        <option>Asemrowo</option>
                        <option>Bunaken</option>
                        <option>Samarinda Kota</option>
                        <option>Sorong Barat</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kelurahan</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option>Kelapa Gading Barat</option>
                        <option>Kelurahan Genting</option>
                        <option>Bailang</option>
                        <option>Pasar Pagi</option>
                        <option>Saoka</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Review</h3>
    </div>
    <div class="panel-body">

        <div>
            <input type="text" class="review" value="2"/>
            <a href="/trend"> <span class="glyphicon glyphicon-stats"></span> Rating trends</a>
        </div>
        <p>2,218 Reviews</p>

        <div class="panel panel-default">
            <div class="panel-heading"><h3>Great work</h3>
                <small>Kelurahan Pejagalan, Kecamatan Penjaringan, Jakarta Utara, DKI Jakarta</small>
            </div>
            <div class="panel-body">
                <input type="text" class="review" data-size="xs" value="5"/>

                <p>
                    Lorem ipsum dolor sit amet, <a href="">#transparan</a> adipiscing elit. Phasellus eget erat
                    at
                    leo interdum
                    imperdiet
                    id nec quam. Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus
                    a
                    tincidunt diam, id <a href="">#sopan</a> nisl nulla nec metus. Class aptent taciti
                    sociosqu
                    ad
                    litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula eget purus
                    vestibulum
                    mattis. Proin eget massa nulla. In <a href="#">#cepat</a> maximus sem sed consectetur.
                    Aliquam
                    id erat nec mi
                    luctus
                    iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae. Suspendisse
                    potenti.
                    Nulla
                    venenatis dapibus erat sed vehicula.
                </p>

                <div>
                    <b>Pros</b>

                    <p>
                        In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                        iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae.
                        Suspendisse
                        potenti. Nulla
                        venenatis dapibus erat sed vehicula.
                    </p>
                </div>
                <div>
                    <b>Cons</b>

                    <p>
                        Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a
                        tincidunt
                        vestibulum, erat enim semper diam, id elementum nisl nulla nec metus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>