<div class="panel panel-default">
    <div class="panel-heading"><h2>Persyaratan</h2></div>
    <div class="panel-body">
        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox1"/>
                <label for="checkbox1">Berumur diatas 17 tahun</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox2"/>
                <label for="checkbox2">Memiliki surat penganter RT / RW</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox3"/>
                <label for="checkbox3">Pernah mengisi formulir F1.01
                        <span
                                class="glyphicon glyphicon-question-sign" hackmdk3-pop-over
                                style="text-indent: 0em;"
                                data-toggle="popover"
                                title="Formulir F1.01"
                                data-trigger="hover"
                                data-container="body"
                                data-placement="auto"
                                data-content="Adalah formulir yang diperlukan untuk administrasi kependudukan."/>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h2>Proses</h2></div>
    <div class="panel-body">
        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox4"/>
                <label for="checkbox4">Melaksanakan pengambilan foto, sidik jari, retina mata dan tanda
                    tangan digital di kelurahan.</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox5"/>
                <label for="checkbox5">Menerima tanda tangan dan stempel dari petugas diatas surat panggilan
                    sebagai tanda bukti.</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox6"/>
                <label for="checkbox6" data-toggle="modal" data-target="#durationModal">Menunggu panggilan
                    pengambilan E-KTP oleh petugas
                        <span
                                class="glyphicon glyphicon-question-sign" hackmdk3-pop-over
                                style="text-indent: 0em;"
                                data-toggle="popover"
                                title="Lama waktu proses"
                                data-trigger="hover"
                                data-container="body"
                                data-placement="auto"
                                data-content="Proses pembuatan E-KTP berlangsung tidak lebih dari 2 minggu."/>
                </label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox7"/>
                <label for="checkbox7">Menerima tanda tangan dan stempel dari petugas diatas surat panggilan
                    sebagai tanda bukti.</label>
            </div>
        </div>
        <div class="modal fade" id="durationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Berapa lama waktu yang benar-benar dibutuhkan?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="durasi">Durasi</label>
                                <input type="text" class="form-control" id="durasi" value="2" placeholder="Durasi">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="satuan">Satuan</label>
                                <select class="form-control" id="satuan">
                                    <option>Jam</option>
                                    <option>Hari</option>
                                    <option selected>Minggu</option>
                                    <option>Bulan</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
