<div class="col-sm-12">
    <div class="page-header">
        <h3>Deskripsi</h3>
    </div>

    <p>
        Izin Mendirikan Bangunan atau biasa dikenal dengan IMB adalah perizinan yang diberikan oleh Kepala
        Daerah kepada pemilik bangunan untuk membangun baru, mengubah, memperluas, mengurangi, dan/atau
        merawat bangunan sesuai dengan persyaratan administratif dan persyaratan teknis yang berlaku. IMB
        merupakan salah satu produk hukum untuk mewujudkan tatanan tertentu sehingga tercipta ketertiban,
        keamanan, keselamatan, kenyamanan, sekaligus kepastian hukum. Kewajiban setiap orang atau badan yang
        akan mendirikan bangunan untuk memiliki Izin Mendirikan Bangunan diatur pada Pasal 5 ayat 1 Perda 7 Tahun 2009.
    </p>

    <p>
        IMB akan melegalkan suatu bangunan yang direncanakan sesuai dengan Tata Ruang yang telah ditentukan.
        Selain itu, adanya IMB menunjukkan bahwa rencana kostruksi bangunan tersebut juga dapat dipertanggungjawabkan
        dengan maksud untuk kepentingan bersama.
    </p>

</div>

<div class="col-sm-12">

    <div class="page-header">
        <h3>Lokasi</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-striped ">
                <tr>
                    <th>Provinsi</th>
                    <td>
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <select>
                                        <option value="1">DKI Jakarta</option>
                                        <option value="2">Jawa Tengah</option>
                                        <option value="3">Jawa Timur</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <th>Kabupaten/Kota</th>
                    <td>
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <select>
                                        <option value="1">Jakarta Barat</option>
                                        <option value="2">Jakarta Timur</option>
                                        <option value="3">Jakarta Utara</option>
                                        <option value="1">Jakarta Selatan</option>
                                        <option value="2">Jakarta Pusat</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <th>Kecamatan</th>
                    <td>
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <select>
                                        <option value="1">Cengkareng</option>
                                        <option value="2">Grogol Petamburan</option>
                                        <option value="3">Kalideres</option>
                                        <option value="1">Kebon Jeruk</option>
                                        <option value="2">Kembangan</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <th>Kelurahan</th>
                    <td>
                        <fieldset>
                            <div class="control-group">
                                <div class="controls">
                                    <select>
                                        <option value="1">Kedaung</option>
                                        <option value="1">Kapuk</option>
                                        <option value="1">Cengkareng Barat</option>
                                        <option value="1">Cengkareng Timur</option>
                                        <option value="1">Rawa Buaya</option>
                                        <option value="1">Duri Kosambi</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-info">Cari Lokasi PTSP Anda</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td>Keluarahan Kedaung</td>
                            </tr>
                            <tr>
                                <td>jalan Kedaung Raya no. 123</td>
                            </tr>
                            <tr>
                                <td>Jakarta Barat 12345</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Telp. 021 121212</td>
                            </tr>
                            <tr>
                                <td>Email ptsp@jakarta-barat.id</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Jam Buka:</td>
                            </tr>
                            <tr>
                                <td>Senin - Jumat 09:00 - 17:00</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>

<div class="col-sm-12">
    <div class="page-header">
        <h3>Statistik</h3>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pelayanan</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lama Menunggu</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Trend Kejadian</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Laporan</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>