<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">IMB</h3>
                </div>
                <div class="panel-body">

                    <p>
                        Cari tau dokument apa saja yang anda perlukan dengan memberi keterangan berikut:
                    </p>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Peruntukan</label>

                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Rumah Tinggal (Real Estate)</option>
                                    <option>Rumah Tinggal (Pemugaran gol A dan B)</option>
                                    <option>Bangunan Umum (Kurang dari 8 Lantai)</option>
                                    <option>Bangunan Umum (8 Lantai dan lebih)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Atas nama perusahaan ?</label>

                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Tidak</option>
                                    <option>Ya</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Persyaratan IMB</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-body funkyradio">
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox1" id="checkbox1"/><label
                                for="checkbox1">Foto Copy KTP</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox2" id="checkbox2"/><label
                                for="checkbox2">Foto copy tanda lunas PBB dan SPPT tahun terakhir</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox3" id="checkbox3"/><label
                                for="checkbox3">Foto copy tanda bukti status kepemilikan hak atas tanah yang telah
                            disahkan
                            oleh pejabat yang berwenang</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox4" id="checkbox4"/><label
                                for="checkbox4">Foto copy akta pendirian badan dan/atau perubahannya yang telah disahkan
                            oleh pejabat yang berwenang</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox5" id="checkbox5"/><label
                                for="checkbox5">Foto copy Surat Keterangan Rencana Kota (SKRK) atau foto copy IMB yang
                            dimiliki sebelumnya atau siteplan yang telah dilegalisasi oleh Dinas Cipta Karya dan Tata
                            Ruang</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox6" id="checkbox6"/><label
                                for="checkbox6">Surat Keterangan Lurah & Camat (untuk status kepemilikan tanah selain
                            SHM,
                            HGB & IPT)</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox7" id="checkbox7"/><label
                                for="checkbox7">Surat Pernyataan keabsahan dan kebenaran dokumen, sanggup memenuhi
                            dokumen
                            teknis dan membayar retribusi</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox8" id="checkbox8"/><label
                                for="checkbox8">Rencana teknis bangunan</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox9" id="checkbox9"/><label
                                for="checkbox9">Surat pernyataan pertanggungjawaban konstruksi/rancang bangun dari
                            penanggung jawab bangunan (pemilik, perencana, pengawas/pelaksana)</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox10" id="checkbox10"/><label
                                for="checkbox10">Foto Bangunan yang sudah berdiri</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox11" id="checkbox11"/><label
                                for="checkbox11">Analisis mengenai dampak lingkungan bagi bangunan yang menimbulkan
                            dampak
                            penting terhadap lingkungan atau Upaya Pemantauan Lingkungan Hidup (UPL) dan Upaya
                            Pengelolaan
                            Lingkungan Hidup (UPL) dalam hal dampak terhadap lingkungan tersebut dapat diatasi secara
                            teknis</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox12" id="checkbox12"/><label
                                for="checkbox12">Foto copy berita acara serah terima administrasi prasarana lingkungan,
                            utilitas umum dan fasilitas sosial</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox13" id="checkbox13"/><label
                                for="checkbox13">Rekomendasi Andalalin dari Dinas Perhubungan</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox14" id="checkbox14"/><label
                                for="checkbox14">Rekomendasi Cagar Budaya dari Dinas Pariwisata</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox15" id="checkbox15"/><label
                                for="checkbox15">Rekomendasi Drainase dari DPUBMP</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox16" id="checkbox16"/><label
                                for="checkbox16">Rekomendasi FKUB dan Depag untuk bangunan tempat ibadah</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkbox17" id="checkbox17"/><label
                                for="checkbox17">Rekomendasi Dinas Pemadam Kebakaran</label></div>

                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Proses IMB</h3>
                </div>
                <div class="panel-body">

                    <p>
                        Untuk mendapatkan IMB, anda dapat melakukan langkah-langkah sebagai berikut.
                    </p>

                    <p>
                        Proses Pengajuan IMB anda:
                        <br/>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="60"
                             aria-valuemin="0"
                             aria-valuemax="100" style="width: 60%"><span class="sr-only">60% Complete</span>60%
                        </div>
                    </div>
                    </p>

                    <div class="panel-body funkyradio">
                        <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesIMB01"
                                                               id="checkboxProsesIMB01"/><label
                                for="checkboxProsesIMB01">Mengurus
                            di PTSP Kecamatan</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesIMB02"
                                                               id="checkboxProsesIMB02"/><label
                                for="checkboxProsesIMB02">Pemohon
                            mengajukan Permohonan IMB (PIMB)</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesIMB03"
                                                               id="checkboxProsesIMB03"/><label
                                for="checkboxProsesIMB03">Proses
                            pemeriksaan dan penerbitan Surat Ketetapan Retribusi Daerah (SKRD)</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesIMB04"
                                                               id="checkboxProsesIMB04"/><label
                                for="checkboxProsesIMB04">Membayar
                            retribusi IMB ke kas daerah</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesIMB05"
                                                               id="checkboxProsesIMB05"/><label
                                for="checkboxProsesIMB05">Menyerahkan
                            bukti pembayaran ke PTSP</label></div>
                        <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesIMB06"
                                                               id="checkboxProsesIMB06"/><label
                                for="checkboxProsesIMB06">IMB
                            selesai</label></div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
