<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Deskripsi</h3>
        </div>
        <div class="panel-body">

            <p>
                Izin Mendirikan Bangunan atau biasa dikenal dengan IMB adalah perizinan yang diberikan oleh Kepala
                Daerah kepada pemilik bangunan untuk membangun baru, mengubah, memperluas, mengurangi, dan/atau
                merawat bangunan sesuai dengan persyaratan administratif dan persyaratan teknis yang berlaku. IMB
                merupakan salah satu produk hukum untuk mewujudkan tatanan tertentu sehingga tercipta ketertiban,
                keamanan, keselamatan, kenyamanan, sekaligus kepastian hukum. Kewajiban setiap orang atau badan yang
                akan mendirikan bangunan untuk memiliki Izin Mendirikan Bangunan diatur pada Pasal 5 ayat 1 Perda 7
                Tahun 2009.
            </p>

            <p>
                IMB akan melegalkan suatu bangunan yang direncanakan sesuai dengan Tata Ruang yang telah ditentukan.
                Selain itu, adanya IMB menunjukkan bahwa rencana kostruksi bangunan tersebut juga dapat
                dipertanggungjawabkan
                dengan maksud untuk kepentingan bersama.
            </p>

            <p>
                Peraturan dan perundang-undangan yang memuat IMB adalah sebagai berikut:
            <ul>
                <li>Undang-undang no. 28 tahun 2002 tentang Bangunan Gedung</li>
                <li>Undang-undang no. 26 tahun 2007 tentang Penataan Ruang</li>
                <li>PP no. 36 tahun 2005 tentang Peraturan Pelaksanaan Undang-undang no. 28 tahun 2002 tentang Bangunan
                    Gedung.
                </li>
            </ul>
            </p>

            <p>
                Nilai lebih kepemilikan IMB

                Bangunan yang telah ber-IMB memiliki kelebihan dibandingan dengan bangunan yang tidak ber-IMB, yakni:
            <ul>
                <li>Bangunan memiliki nilai jual yang tinggi</li>
                <li>Jaminan Kredit Bank</li>
                <li>Peningkatan Status Tanah</li>
                <li>Informasi Peruntukan dan Rencana Jalan</li>
            </ul>
            </p>

        </div>

    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Persyaratan Izin Mendirikan Bangunan</h3>
        </div>
        <div class="panel-body">

            <ol>
                <li>Foto copy KTP.</li>
                <li>Foto copy tanda lunas PBB dan SPPT tahun terakhir.</li>
                <li>Foto copy tanda bukti status kepemilikan hak atas tanah yang telah disahkan oleh pejabat yang
                    berwenang.
                </li>
                <li>Foto copy akta pendirian badan dan/atau perubahannya yang telah disahkan oleh pejabat yang
                    berwenang.
                </li>
                <li>Foto copy Surat Keterangan Rencana Kota (SKRK) atau foto copy IMB yang dimiliki sebelumnya atau
                    siteplan yang telah dilegalisasi oleh Dinas Cipta Karya dan Tata Ruang.
                </li>
                <li>Surat Keterangan Lurah & Camat (untuk status kepemilikan tanah selain SHM, HGB & IPT)</li>
                <li>Surat Pernyataan keabsahan dan kebenaran dokumen, sanggup memenuhi dokumen teknis dan membayar
                    retribusi.
                </li>
                <li>
                    Rencana teknis bangunan meliputi :
                    <ul>
                        <li>
                            Untuk bangunan 1 (satu) lantai dengan luas ≤ 100 m2 : Gambar rancang bangun (bestek) yang
                            terdiri dari gambar situasi, denah, dan tampak yang ditandatangani oleh pemilik sebanyak 2
                            (dua) set, beserta file format Auto CAD atau dapat berupa gambar manual (kecuali untuk
                            pengembang harus menyerahkan sebanyak 2 (dua) set, beserta file format Auto CAD (dalam
                            bentuk CD);
                        </li>
                        <li>
                            untuk bangunan maksimal 2 lantai dengan luasan < 400 m2 : Gambar rancang bangun (bestek) yang terdiri dari gambar
                            situasi, denah, tampak dan potongan yang ditandatangani oleh penanggung jawab (pemilik, pengawas,/pelaksana)
                            sebanyak 2 (dua) set, beserta file format Auto CAD (dalam bentuk CD) , tanpa gambar dan perhitungan konstruksi
                        </li>
                        <li>
                            untuk bangunan bertingkat lebih dari 2 lantai (sudah berdiri) dengan luasan ≥ 400 m2 : Gambar rancang bangun (bestek)
                            yang ditandatangani oleh penanggung jawab (pemilik, perencana, pengawas,/pelaksana) sebanyak 3 (tiga) set hardcopy
                            untuk TABG dan 2 (dua) set untuk non TABG, beserta file format Auto CAD (dalam bentuk CD), yang terdiri dari :
                            1) gambar situasi (skala 1:1000/1:500);
                            2) gambar lay out, denah, tampak, potongan (skala 1:100/1:200);
                            3) gambar rencana pondasi, sanitasi, dan rencana atap (skala1/100/1:200);
                        </li>
                        <li>
                            untuk bangunan bertingkat lebih dari 2 lantai (belum berdiri) dengan luasan ≥ 400 m2 (non TABG) : Gambar rancang
                            bangun (bestek) yang ditandatangani oleh penanggung jawab (pemilik, perencana, pengawas,/pelaksana) sebanyak 2 (dua)
                            set, beserta file format Auto CAD (dalam bentuk CD), yang terdiri dari :
                            1) gambar situasi (skala 1:1000/1:500);
                            2) gambar lay out, denah, tampak, potongan (skala 1:100/1:200);
                            3) gambar rencana pondasi, sanitasi, dan rencana atap (skala1/100/1:200);
                            4) gambar konstruksi (skala 1:100) dan detail (skala 1;50/1:20/1:10) ditandatangani oleh penanggung jawab (pemilik,
                            perencana, pengawas/pelaksana), sebanyak 2 (dua) set hardcopy beserta file format Auto CAD (dalam bentuk CD)
                        </li>
                        <li>
                            untuk bangunan bertingkat lebih dari 4 lantai dengan luasan ≥ 2500 m2 (TABG): Gambar rancang bangun (bestek) yang
                            ditandatangani oleh penanggung jawab (pemilik, perencana, pengawas,/pelaksana) sebanyak 3 (tiga) set, beserta file
                            format Auto CAD (dalam bentuk CD), yang terdiri dari :
                            1) gambar situasi (skala 1:1000/1:500);
                            2) gambar lay out, denah, tampak, potongan (skala 1:100/1:200);
                            3) gambar rencana pondasi, sanitasi, dan rencana atap (skala1/100/1:200);
                            4) gambar konstruksi (skala 1:100) dan detail (skala 1;50/1:20/1:10) ditandatangani oleh penanggung jawab (pemilik,
                            perencana, pengawas/pelaksana), sebanyak 2 (dua) set hardcopy beserta file format Auto CAD (dalam bentuk CD)
                        </li>
                    </ul>
                </li>
                <li>Surat pernyataan pertanggungjawaban konstruksi/rancang bangun dari penanggung jawab bangunan
                    (pemilik, perencana, pengawas/pelaksana).
                </li>
                <li>Foto Bangunan yang sudah berdiri</li>
                <li>Analisis mengenai dampak lingkungan bagi bangunan yang menimbulkan dampak penting terhadap
                    lingkungan atau Upaya Pemantauan Lingkungan Hidup (UPL) dan Upaya Pengelolaan Lingkungan Hidup (UPL)
                    dalam hal dampak terhadap lingkungan tersebut dapat diatasi secara teknis.
                </li>
                <li>Foto copy berita acara serah terima administrasi prasarana lingkungan, utilitas umum dan fasilitas
                    sosial.
                </li>
                <li>Rekomendasi Andalalin dari Dinas Perhubungan.</li>
                <li>Rekomendasi Cagar Budaya dari Dinas Pariwisata.</li>
                <li>Rekomendasi Drainase dari DPUBMP.</li>
                <li>Rekomendasi FKUB dan Depag untuk bangunan tempat ibadah.</li>
                <li>Rekomendasi Dinas Pemadam Kebakaran.</li>
            </ol>

        </div>

    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lokasi</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Propinsi</label>

                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>DKI Jakarta</option>
                            <option>Jawa Barat</option>
                            <option>Jawa Tengah</option>
                            <option>Jawa Timur</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kabupaten/Kota</label>

                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>Jakarta Barat</option>
                            <option>Jakarta Timur</option>
                            <option>Jakarta Utara</option>
                            <option>Jakarta Selatan</option>
                            <option>Jakarta Pusat</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kecamatan</label>

                    <div class="col-sm-10">
                        <select class="form-control">
                            <option value="1">Cengkareng</option>
                            <option value="2">Grogol Petamburan</option>
                            <option value="3">Kalideres</option>
                            <option value="4">Kebon Jeruk</option>
                            <option value="5">Kembangan</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kelurahan</label>

                    <div class="col-sm-10">
                        <select class="form-control">
                            <option value="1">Kedaung</option>
                            <option value="2">Kapuk</option>
                            <option value="3">Cengkareng Barat</option>
                            <option value="4">Cengkareng Timur</option>
                            <option value="5">Rawa Buaya</option>
                            <option value="6">Duri Kosambi</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="alert alert-info" role="alert">
                <table>
                    <tr>
                        <td>Keluarahan Kedaung</td>
                    </tr>
                    <tr>
                        <td>jalan Kedaung Raya no. 123</td>
                    </tr>
                    <tr>
                        <td>Jakarta Barat 12345</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Telp. 021 121212</td>
                    </tr>
                    <tr>
                        <td>Email ptsp@jakarta-barat.id</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Jam Buka:</td>
                    </tr>
                    <tr>
                        <td>Senin - Jumat 09:00 - 17:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Review</h3>
        </div>
        <div class="panel-body">

            <p>
            </p>

        </div>

    </div>
</div>