<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lapor</h3>
        </div>
        <div class="panel-body">

            <table class="table table-striped ">
                <tr>
                    <th>Judul Laporan</th>
                    <td>
                        <div class="form-group form-group-sm ">
                            <input type="text" class="form-control" placeholder="Kecurangan pada" aria-describedby="basic-addon2">
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Catatan Laporan</th>
                    <td>
                        <div class="form-group form-group-sm">
                            <textarea class="form-control" placeholder="Saya menemukan kecurangan pada..." rows="10" id="keteranganLaporan"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-success">Lapor!</button>
                    </td>
                </tr>
            </table>

        </div>

    </div>
</div>