
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Persyaratan Izin Mendirikan Bangunan</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Peruntukan</label>

                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>Rumah Tinggal (Real Estate)</option>
                            <option>Rumah Tinggal (Pemugaran gol A dan B)</option>
                            <option>Bangunan Umum (Kurang dari 8 Lantai)</option>
                            <option>Bangunan Umum (8 Lantai dan lebih)</option>
                        </select>
                    </div>
                </div>
            </form>

            <div class="panel-body funkyradio">
                <div class="funkyradio-success"><input type="checkbox" name="checkbox1" id="checkbox1"/><label for="checkbox1">Foto Copy KTP</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox2" id="checkbox2"/><label for="checkbox2">Foto copy tanda lunas PBB dan SPPT tahun terakhir</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox3" id="checkbox3"/><label for="checkbox3">Foto copy tanda bukti status kepemilikan hak atas tanah yang telah disahkan oleh pejabat yang berwenang</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox4" id="checkbox4"/><label for="checkbox4">Foto copy akta pendirian badan dan/atau perubahannya yang telah disahkan oleh pejabat yang berwenang</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox5" id="checkbox5"/><label for="checkbox5">Foto copy Surat Keterangan Rencana Kota (SKRK) atau foto copy IMB yang dimiliki sebelumnya atau siteplan yang telah dilegalisasi oleh Dinas Cipta Karya dan Tata Ruang</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox6" id="checkbox6"/><label for="checkbox6">Surat Keterangan Lurah & Camat (untuk status kepemilikan tanah selain SHM, HGB & IPT)</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox7" id="checkbox7"/><label for="checkbox7">Surat Pernyataan keabsahan dan kebenaran dokumen, sanggup memenuhi dokumen teknis dan membayar retribusi</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox8" id="checkbox8"/><label for="checkbox8">Rencana teknis bangunan</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox9" id="checkbox9"/><label for="checkbox9">Surat pernyataan pertanggungjawaban konstruksi/rancang bangun dari penanggung jawab bangunan (pemilik, perencana, pengawas/pelaksana)</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox10" id="checkbox10"/><label for="checkbox10">Foto Bangunan yang sudah berdiri</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox11" id="checkbox11"/><label for="checkbox11">Analisis mengenai dampak lingkungan bagi bangunan yang menimbulkan dampak penting terhadap lingkungan atau Upaya Pemantauan Lingkungan Hidup (UPL) dan Upaya Pengelolaan Lingkungan Hidup (UPL) dalam hal dampak terhadap lingkungan tersebut dapat diatasi secara teknis</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox12" id="checkbox12"/><label for="checkbox12">Foto copy berita acara serah terima administrasi prasarana lingkungan, utilitas umum dan fasilitas sosial</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox13" id="checkbox13"/><label for="checkbox13">Rekomendasi Andalalin dari Dinas Perhubungan</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox14" id="checkbox14"/><label for="checkbox14">Rekomendasi Cagar Budaya dari Dinas Pariwisata</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox15" id="checkbox15"/><label for="checkbox15">Rekomendasi Drainase dari DPUBMP</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox16" id="checkbox16"/><label for="checkbox16">Rekomendasi FKUB dan Depag untuk bangunan tempat ibadah</label></div>
                <div class="funkyradio-success"><input type="checkbox" name="checkbox17" id="checkbox17"/><label for="checkbox17">Rekomendasi Dinas Pemadam Kebakaran</label></div>

            </div>

            <ol>
                <li>
                    Rencana teknis bangunan meliputi :
                    <ul>
                        <li>
                            Untuk bangunan 1 (satu) lantai dengan luas ≤ 100 m2 : Gambar rancang bangun (bestek) yang
                            terdiri dari gambar situasi, denah, dan tampak yang ditandatangani oleh pemilik sebanyak 2
                            (dua) set, beserta file format Auto CAD atau dapat berupa gambar manual (kecuali untuk
                            pengembang harus menyerahkan sebanyak 2 (dua) set, beserta file format Auto CAD (dalam
                            bentuk CD);
                        </li>
                        <li>
                            untuk bangunan maksimal 2 lantai dengan luasan < 400 m2 : Gambar rancang bangun (bestek)
                            yang terdiri dari gambar
                            situasi, denah, tampak dan potongan yang ditandatangani oleh penanggung jawab (pemilik,
                            pengawas,/pelaksana)
                            sebanyak 2 (dua) set, beserta file format Auto CAD (dalam bentuk CD) , tanpa gambar dan
                            perhitungan konstruksi
                        </li>
                        <li>
                            untuk bangunan bertingkat lebih dari 2 lantai (sudah berdiri) dengan luasan ≥ 400 m2 :
                            Gambar rancang bangun (bestek)
                            yang ditandatangani oleh penanggung jawab (pemilik, perencana, pengawas,/pelaksana) sebanyak
                            3 (tiga) set hardcopy
                            untuk TABG dan 2 (dua) set untuk non TABG, beserta file format Auto CAD (dalam bentuk CD),
                            yang terdiri dari :
                            1) gambar situasi (skala 1:1000/1:500);
                            2) gambar lay out, denah, tampak, potongan (skala 1:100/1:200);
                            3) gambar rencana pondasi, sanitasi, dan rencana atap (skala1/100/1:200);
                        </li>
                        <li>
                            untuk bangunan bertingkat lebih dari 2 lantai (belum berdiri) dengan luasan ≥ 400 m2 (non
                            TABG) : Gambar rancang
                            bangun (bestek) yang ditandatangani oleh penanggung jawab (pemilik, perencana,
                            pengawas,/pelaksana) sebanyak 2 (dua)
                            set, beserta file format Auto CAD (dalam bentuk CD), yang terdiri dari :
                            1) gambar situasi (skala 1:1000/1:500);
                            2) gambar lay out, denah, tampak, potongan (skala 1:100/1:200);
                            3) gambar rencana pondasi, sanitasi, dan rencana atap (skala1/100/1:200);
                            4) gambar konstruksi (skala 1:100) dan detail (skala 1;50/1:20/1:10) ditandatangani oleh
                            penanggung jawab (pemilik,
                            perencana, pengawas/pelaksana), sebanyak 2 (dua) set hardcopy beserta file format Auto CAD
                            (dalam bentuk CD)
                        </li>
                        <li>
                            untuk bangunan bertingkat lebih dari 4 lantai dengan luasan ≥ 2500 m2 (TABG): Gambar rancang
                            bangun (bestek) yang
                            ditandatangani oleh penanggung jawab (pemilik, perencana, pengawas,/pelaksana) sebanyak 3
                            (tiga) set, beserta file
                            format Auto CAD (dalam bentuk CD), yang terdiri dari :
                            1) gambar situasi (skala 1:1000/1:500);
                            2) gambar lay out, denah, tampak, potongan (skala 1:100/1:200);
                            3) gambar rencana pondasi, sanitasi, dan rencana atap (skala1/100/1:200);
                            4) gambar konstruksi (skala 1:100) dan detail (skala 1;50/1:20/1:10) ditandatangani oleh
                            penanggung jawab (pemilik,
                            perencana, pengawas/pelaksana), sebanyak 2 (dua) set hardcopy beserta file format Auto CAD
                            (dalam bentuk CD)
                        </li>
                    </ul>
                </li>
            </ol>

        </div>

    </div>
</div>