
<div class="col-md-3">
    <div class="panel-heading">
        <h3 class="panel-title">Pelayanan</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="col-md-3">
    <div class="panel-heading">
        <h3 class="panel-title">Lama Menunggu</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>


<div class="col-md-3">
    <div class="panel-heading">
        <h3 class="panel-title">Trend Kejadian</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="col-md-3">
    <div class="panel-heading">
        <h3 class="panel-title">Laporan</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>


