<div class="col-md-12">
    <div class="page-header">
        <h3>Persyaratan</h3>
    </div>

    <p>TATACARA PENGAJUAN PERMOHONAN IMB (PIMB) RUMAH TINGGAL :</p>
    <p>Pengajuan Permohonan IMB (PIMB) Rumah Tinggal diajukan ke Loket PTSP di kantor Kecamatan setempat.
    Pengajuan PIMB, harus dilengkapi dengan kelengkapan persyaratan sebagaimana telah diatur dalam Peraturan Gubernur No.129 Tahun 2012, tentang Tatacara Pemberian Pelayanan Bidang Perizinan Bangunan.
    Setelah berkas diteliti administratip dan dinilai teknis serta diperiksa lapangan, maka petugas penilai akan menghitung besarnya retribusi IMB.
    Penilai akan membuat Surat Ketetapan Retribusi (SKRD) IMB untuk Pemohon.
    Pemohon IMB harus segera membayar Retribusi IMB ke Kas Daerah/ Bank DKI di Kecamatan, dan akan menerima bukti pembayaran berupa SKRD yang telah di print Tanda Lunas.
    Dengan menyerahkan Bukti Pembayaran SKRD tersebut keloket PTSP, maka berkas Permohonan IMB diproses untuk penerbitan IMB oleh PTSP Kecamatan.
    IMB Rumah Tinggal yang telah diterbitkan dapat diambil oleh Pemohon/ Kuasa di Loket PTSP Kecamatan.
    </p>

</div>