<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Deskripsi</h3>
        </div>
        <div class="panel-body">

            <p>
                Izin Mendirikan Bangunan atau biasa dikenal dengan IMB adalah perizinan yang diberikan oleh Kepala
                Daerah kepada pemilik bangunan untuk membangun baru, mengubah, memperluas, mengurangi, dan/atau
                merawat bangunan sesuai dengan persyaratan administratif dan persyaratan teknis yang berlaku. IMB
                merupakan salah satu produk hukum untuk mewujudkan tatanan tertentu sehingga tercipta ketertiban,
                keamanan, keselamatan, kenyamanan, sekaligus kepastian hukum. Kewajiban setiap orang atau badan yang
                akan mendirikan bangunan untuk memiliki Izin Mendirikan Bangunan diatur pada Pasal 5 ayat 1 Perda 7
                Tahun 2009.
            </p>

            <p>
                IMB akan melegalkan suatu bangunan yang direncanakan sesuai dengan Tata Ruang yang telah ditentukan.
                Selain itu, adanya IMB menunjukkan bahwa rencana kostruksi bangunan tersebut juga dapat
                dipertanggungjawabkan
                dengan maksud untuk kepentingan bersama.
            </p>

            <p>
                Peraturan dan perundang-undangan yang memuat IMB adalah sebagai berikut:
            <ul>
                <li>Undang-undang no. 28 tahun 2002 tentang Bangunan Gedung <span class="glyphicon glyphicon-question-sign" /></li>
                <li>Undang-undang no. 26 tahun 2007 tentang Penataan Ruang <span class="glyphicon glyphicon-question-sign" /></li>
                <li>PP no. 36 tahun 2005 tentang Peraturan Pelaksanaan Undang-undang no. 28 tahun 2002 tentang Bangunan
                    Gedung. <span class="glyphicon glyphicon-question-sign" />
                </li>
            </ul>
            </p>

            <p>
                Nilai lebih kepemilikan IMB

                Bangunan yang telah ber-IMB memiliki kelebihan dibandingan dengan bangunan yang tidak ber-IMB, yakni:
            <ul>
                <li>Bangunan memiliki nilai jual yang tinggi</li>
                <li>Jaminan Kredit Bank</li>
                <li>Peningkatan Status Tanah</li>
                <li>Informasi Peruntukan dan Rencana Jalan</li>
            </ul>
            </p>

        </div>

    </div>
</div>

<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Lokasi{{testValue}}</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Propinsi</label>
                    <div class="col-sm-10">
                        <select class="form-control" >
                            <option>-- Pilih Propinsi --</option>
                            <option>DKI Jakarta</option>
                            <option>Jawa Barat</option>
                            <option>Jawa Tengah</option>
                            <option>Jawa Timur</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kabupaten/Kota</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>-- Pilih Kabupaten/Kota --</option>
                            <option>Jakarta Barat</option>
                            <option>Jakarta Timur</option>
                            <option>Jakarta Utara</option>
                            <option>Jakarta Selatan</option>
                            <option>Jakarta Pusat</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kecamatan</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>-- Pilih Kecamatan --</option>
                            <option value="1">Cengkareng</option>
                            <option value="2">Grogol Petamburan</option>
                            <option value="3">Kalideres</option>
                            <option value="4">Kebon Jeruk</option>
                            <option value="5">Kembangan</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Kelurahan</label>
                    <div class="col-sm-10">
                        <select class="form-control">
                            <option>-- Pilih Kelurahan --</option>
                            <option value="1">Kedaung</option>
                            <option value="2">Kapuk</option>
                            <option value="3">Cengkareng Barat</option>
                            <option value="4">Cengkareng Timur</option>
                            <option value="5">Rawa Buaya</option>
                            <option value="6">Duri Kosambi</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="alert alert-info" role="alert">
                <table>
                    <tr>
                        <td>Keluarahan Kedaung</td>
                    </tr>
                    <tr>
                        <td>jalan Kedaung Raya no. 123</td>
                    </tr>
                    <tr>
                        <td>Jakarta Barat 12345</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Telp. 021 121212</td>
                    </tr>
                    <tr>
                        <td>Email ptsp@jakarta-barat.id</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Jam Buka:</td>
                    </tr>
                    <tr>
                        <td>Senin - Jumat 09:00 - 17:00</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Review for IMB</h3>
        </div>
        <div class="panel-body">

            <div>
                <input type="text" rating-class="display-inline" class="rating" value="2" hackmdk3-star-rating/>
                <a href="/trend"> <span class="glyphicon glyphicon-stats"></span> Rating trends</a>
            </div>
            <p>2,218 Reviews</p>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Great work</h3>
                            <small>Kelurahan Pejagalan, Kecamatan Penjaringan, Jakarta Utara, DKI Jakarta</small>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="rating" data-size="xs" value="5" hackmdk3-star-rating/>

                            <p>
                                Lorem ipsum dolor sit amet, <a href="">#transparan</a> adipiscing elit. Phasellus eget
                                erat at
                                leo interdum
                                imperdiet
                                id nec quam. Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus,
                                lacus a
                                tincidunt diam, id <a href="">#sopan</a> nisl nulla nec metus. Class aptent taciti
                                sociosqu
                                ad
                                litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula eget purus
                                vestibulum
                                mattis. Proin eget massa nulla. In <a href="#">#cepat</a> maximus sem sed consectetur.
                                Aliquam
                                id erat nec mi
                                luctus
                                iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae.
                                Suspendisse
                                potenti.
                                Nulla
                                venenatis dapibus erat sed vehicula.
                            </p>

                            <div>
                                <b>Pros</b>

                                <p>
                                    In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                                    iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae.
                                    Suspendisse
                                    potenti. Nulla
                                    venenatis dapibus erat sed vehicula.
                                </p>
                            </div>
                            <div>
                                <b>Cons</b>

                                <p>
                                    Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a
                                    tincidunt
                                    vestibulum, erat enim semper diam, id elementum nisl nulla nec metus.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">Not Bad</h3>
                            <small>Kelurahan Sunter Agung, Kecamatan Tanjung Priok, Jakarta Utara, DKI Jakarta</small>
                        </div>
                        <div class="panel-body">
                            <input type="text" class="rating" data-size="xs" value="2.5" hackmdk3-star-rating/>

                            <p>
                                Lorem ipsum dolor sit amet, consectetur <a href="">#pingPong</a> elit. Phasellus eget
                                erat at
                                leo interdum
                                imperdiet
                                id nec quam. Ut <a href="">#pungli</a> ex sit amet nisl faucibus facilisis. Pellentesque
                                tempus,
                                lacus
                                a
                                tincidunt
                                vestibulum, erat enim semper diam, id elementum <a href="#">#korup</a> nulla nec metus.
                                Class
                                aptent taciti
                                sociosqu
                                ad
                                litora torquent per <a href="">#lama</a> nostra, per inceptos himenaeos. Etiam quis
                                ligula eget
                                purus
                                vestibulum
                                mattis. Proin eget massa nulla. In ultrices maximus sem sed consectetur. Aliquam id erat
                                nec
                                mi
                                luctus
                                iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae.
                                Suspendisse
                                potenti.
                                Nulla
                                venenatis dapibus erat sed vehicula.
                            </p>

                            <div>
                                <b>Pros</b>

                                <p>
                                    In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                                    iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae.
                                    Suspendisse
                                    potenti. Nulla
                                    venenatis dapibus erat sed vehicula.
                                </p>
                            </div>
                            <div>
                                <b>Cons</b>

                                <p>
                                    Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a
                                    tincidunt
                                    vestibulum, erat enim semper diam, id elementum nisl nulla nec metus.
                                </p>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading"><h4 class="panel-title">Official Statement</h4></div>
                                <div class="panel-body">
                                    <p>
                                        Class aptent taciti
                                        sociosqu
                                        ad
                                        litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula
                                        eget purus
                                        vestibulum
                                        mattis. Proin eget massa nulla. In ultrices maximus sem sed consectetur. Aliquam
                                        id erat
                                        nec
                                        mi
                                        luctus
                                        iaculis a vel est.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>