<div class="panel panel-default">
    <div class="panel-body">
        <div ng-controller="ReviewPostController" class="text-right">
            <button ng-show="!showPost" class="btn btn-success" ng-click="showPostAction()">
                <span class="glyphicon glyphicon-plus"></span> Add review
            </button>
            <div ng-show="showPost">
                <ng-include src="'templates/include.review.post.tpl.html'"></ng-include>
            </div>
        </div>
        <div>
            <input type="text" rating-class="display-inline" readonly birokrazy-star-rating class="rating"
                   ng-model="civilService.rating"/>
            <a href="/service/{{servicePath}}/trend"> <span class="glyphicon glyphicon-stats"></span> Rating trends</a>
        </div>
        <p>{{civilService.reviews}} Reviews</p>

        <uib-alert ng-repeat="alert in alerts" type="success">{{successMessage}}</uib-alert>

         <div class="panel panel-default" ng-repeat="review in civilService.reviewList">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="panel-title">{{review.subject}}</h4>
                        <small>{{review.location}}</small>
                        <br/>
                        <small>{{review.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                    </div>
                    <div class="col-md-4 text-right">
                        <button class="btn btn-sm btn-danger"> {{review.dislike}} <span class="fa fa-thumbs-down"></span>
                        </button>
                        <button class="btn btn-sm btn-primary"> {{review.like}} <span
                                class="fa fa-thumbs-up"></span></button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <input type="text" class="rating" birokrazy-star-rating readonly data-size="xs" ng-model="review.rating"/>

                <p>
                    {{review.content}}
                </p>
                <div class="panel panel-info" ng-show="review.reviewStatement">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="panel-title">Official Statement</h4>
                                <small>{{review.reviewStatement.createDate | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                            </div>
                            <div class="col-md-4 text-right">
                                <button class="btn btn-sm btn-danger"> {{review.reviewStatement.dislike}} <span class="fa fa-thumbs-down"></span>
                                </button>
                                <button class="btn btn-sm btn-primary"> {{review.reviewStatement.like}} <span
                                        class="fa fa-thumbs-up"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <p>
                            {{review.reviewStatement.content}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>