<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Write Review</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group social-buttons">
                <label class="control-label">Rating</label>
                <input type="text" class="rating form-control" hackmdk3-star-rating data-size="xs"/>
                <div class="pull-right">
                    <button class="btn" ng-click="facebookAction()" ng-class="{'btn-facebook': facebook}">
                        <i class="fa fa-facebook"></i>
                    </button>
                    <button class="btn" ng-click="twitterAction()" ng-class="{'btn-twitter': twitter}">
                        <i class="fa fa-twitter"></i>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Subject</label>
                <input type="text" class="form-control" placeholder="Subject">
            </div>
            <div class="form-group">
                <label class="control-label">Keterangan</label>
                <textarea class="form-control" placeholder="Tulis keterangan" rows="10"></textarea>
            </div>
            <div class="form-inline form-group">
                <button ng-click="submitAction('true')" type="submit" class="btn btn-primary pull-right">Kirim</button>
                <button ng-click="showPostAction()" type="button" class="btn btn-default">Batal</button>
            </div>
        </form>
    </div>
</div>