<div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-group">
            <div class="col-md-2">
                <h3 class="panel-title">Review</h3>
            </div>

            <div class="col-md-10" align="right">
                <a href="{{path}}/review">Lihat semua <span class="glyphicon glyphicon-menu-right"
                                                    aria-hidden="true"></span></a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <input type="text" class="rating" value="2" hackmdk3-star-rating/>
            <a href="/trend"> <span class="glyphicon glyphicon-stats"></span> Rating trends</a>
        </div>
        <p>2,218 Reviews</p>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Great work</h4>
                <small>Kelurahan Pejagalan, Kecamatan Penjaringan, Jakarta Utara, DKI Jakarta</small>
            </div>
            <div class="panel-body">
                <input type="text" class="rating" data-size="xs" value="5" hackmdk3-star-rating/>

                <p>
                    Lorem ipsum dolor sit amet, <a href="">#transparan</a> adipiscing elit. Phasellus eget erat
                    at
                    leo interdum
                    imperdiet
                    id nec quam. Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus
                    a
                    tincidunt diam, id <a href="">#sopan</a> nisl nulla nec metus. Class aptent taciti
                    sociosqu
                    ad
                    litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula eget purus
                    vestibulum
                    mattis. Proin eget massa nulla. In <a href="#">#cepat</a> maximus sem sed consectetur.
                    Aliquam
                    id erat nec mi
                    luctus
                    iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae. Suspendisse
                    potenti.
                    Nulla
                    venenatis dapibus erat sed vehicula.
                </p>

                <div>
                    <b>Pros</b>

                    <p>
                        In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                        iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae.
                        Suspendisse
                        potenti. Nulla
                        venenatis dapibus erat sed vehicula.
                    </p>
                </div>
                <div>
                    <b>Cons</b>

                    <p>
                        Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a
                        tincidunt
                        vestibulum, erat enim semper diam, id elementum nisl nulla nec metus.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>