<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Lokasi</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Provinsi</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="" disabled selected>-- Pilih provinsi --</option>
                        <option>DKI Jakarta</option>
                        <option>Jawa Timur</option>
                        <option>Sulawesi Utara</option>
                        <option>Kalimantan Timur</option>
                        <option>Papua Barat</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kabupaten/ Kota</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="" disabled selected>-- Pilih kabupaten/ kota --</option>
                        <option>Jakarta Utara</option>
                        <option>Surabaya</option>
                        <option>Manado</option>
                        <option>Samarinda</option>
                        <option>Sorong</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kecamatan</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="" disabled selected>-- Pilih kecamatan --</option>
                        <option>Kelapa Gading</option>
                        <option>Asemrowo</option>
                        <option>Bunaken</option>
                        <option>Samarinda Kota</option>
                        <option>Sorong Barat</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Kelurahan</label>

                <div class="col-sm-10">
                    <select class="form-control">
                        <option value="" disabled selected>-- Pilih kelurahan --</option>
                        <option>Kelapa Gading Barat</option>
                        <option>Kelurahan Genting</option>
                        <option>Bailang</option>
                        <option>Pasar Pagi</option>
                        <option>Saoka</option>
                    </select>
                </div>
            </div>
        </form>

        <div class="alert alert-info" role="alert">
            <table>
                <tr>
                    <td>Keluarahan Kelapa Gading Barat</td>
                </tr>
                <tr>
                    <td>jalan Boulevart Raya no. 123</td>
                </tr>
                <tr>
                    <td>Jakarta Utara 12345</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Telp. 021 121212</td>
                </tr>
                <tr>
                    <td>Email ptsp@jakarta-utara.id</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Jam Buka:</td>
                </tr>
                <tr>
                    <td>Senin - Jumat 09:00 - 17:00</td>
                </tr>
            </table>
        </div>
    </div>
</div>