<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h3 style="display: inline">Overall:</h3>
            <input type="text" hackmdk3-star-rating readonly show-caption="false"
                   class="rating"
                   data-size="sm" value="2"/>
        </div>
    </div>
    <p/>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default height-360">
                <div class="panel-heading"><h4 class="panel-title">Province Trends</h4></div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="province-name">DKI Jakarta</td>
                        <td>
                            <input type="text" show-caption="false" readonly class="rating" hackmdk3-star-rating
                                   data-size="xs" value="4.5"/>
                        </td>
                        <td>4.5</td>
                    </tr>
                    <tr>
                        <td class="province-name">Jawa Timur</td>
                        <td>
                            <input type="text" show-caption="false" readonly class="rating" hackmdk3-star-rating
                                   data-size="xs" value="3.6"/>
                        </td>
                        <td>3.6</td>
                    </tr>
                    <tr>
                        <td class="province-name">Sulawesi Utara</td>
                        <td>
                            <input type="text" show-caption="false" readonly class="rating" hackmdk3-star-rating
                                   data-size="xs" value="3.2"/>
                        </td>
                        <td>3.2</td>
                    </tr>
                    <tr>
                        <td class="province-name">Kalimantan Timur</td>
                        <td>
                            <input type="text" show-caption="false" readonly class="rating" hackmdk3-star-rating
                                   data-size="xs" value="2.8"/>
                        </td>
                        <td>2.8</td>
                    </tr>
                    <tr>
                        <td class="province-name">Papua Barat</td>
                        <td>
                            <input type="text" show-caption="false" readonly class="rating" hackmdk3-star-rating
                                   data-size="xs" value="2.7"/>
                        </td>
                        <td>2.7</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default height-360">
                <div class="panel-heading"><h4 class="panel-title">Trending Topic</h4></div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td><a href="#">#cepat</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">#pungli</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">#pingPong</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">#transparan</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">#korup</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">#sabar</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h4 class="panel-title">Waiting Time</h4></div>
                <div class="panel-body">
                    <div hackmdk3-highchart ng-model="waitingTime" style="width:100%; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>

</div>