<div class="panel panel-default">
    <div class="panel-body">
        <h3>Review</h3>

        <div>
            <input type="text" rating-class="display-inline" hackmdk3-star-rating class="rating" value="2"/>
            <a href="/trend"> <span class="glyphicon glyphicon-stats"></span> Rating trends</a>
        </div>
        <p>2,218 Reviews</p>

        <ng-include src="'templates/include.review.post.tpl.html'"></ng-include>

        <div class="panel panel-default">
            <div class="panel-heading"><h4>Great work</h4>
                <small>Kelurahan Pejagalan, Kecamatan Penjaringan, Jakarta Utara, DKI Jakarta</small>
            </div>
            <div class="panel-body">
                <input type="text" class="rating" hackmdk3-star-rating data-size="xs" value="5"/>

                <p>
                    Lorem ipsum dolor sit amet, <a href="">#transparan</a> adipiscing elit. Phasellus eget erat at
                    leo interdum
                    imperdiet
                    id nec quam. Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a
                    tincidunt diam, id <a href="">#sopan</a> nisl nulla nec metus. Class aptent taciti
                    sociosqu
                    ad
                    litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula eget purus
                    vestibulum
                    mattis. Proin eget massa nulla. In <a href="#">#cepat</a> maximus sem sed consectetur. Aliquam
                    id erat nec mi
                    luctus
                    iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae. Suspendisse
                    potenti.
                    Nulla
                    venenatis dapibus erat sed vehicula.
                </p>

                <div>
                    <b>Pros</b>

                    <p>
                        In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                        iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae. Suspendisse
                        potenti. Nulla
                        venenatis dapibus erat sed vehicula.
                    </p>
                </div>
                <div>
                    <b>Cons</b>

                    <p>
                        Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a tincidunt
                        vestibulum, erat enim semper diam, id elementum nisl nulla nec metus.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Not Bad</h4>
                <small>Kelurahan Sunter Agung, Kecamatan Tanjung Priok, Jakarta Utara, DKI Jakarta</small>
            </div>
            <div class="panel-body">
                <input type="text" class="rating" hackmdk3-star-rating data-size="xs" value="2.5"/>

                <p>
                    Lorem ipsum dolor sit amet, consectetur <a href="">#pingPong</a> elit. Phasellus eget erat at
                    leo interdum
                    imperdiet
                    id nec quam. Ut <a href="">#pungli</a> ex sit amet nisl faucibus facilisis. Pellentesque tempus,
                    lacus
                    a
                    tincidunt
                    vestibulum, erat enim semper diam, id elementum <a href="#">#korup</a> nulla nec metus. Class
                    aptent taciti
                    sociosqu
                    ad
                    litora torquent per <a href="">#lama</a> nostra, per inceptos himenaeos. Etiam quis ligula eget
                    purus
                    vestibulum
                    mattis. Proin eget massa nulla. In ultrices maximus sem sed consectetur. Aliquam id erat nec
                    mi
                    luctus
                    iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae. Suspendisse
                    potenti.
                    Nulla
                    venenatis dapibus erat sed vehicula.
                </p>

                <div>
                    <b>Pros</b>

                    <p>
                        In ultrices maximus sem sed consectetur. Aliquam id erat nec mi luctus
                        iaculis a vel est. Aliquam mollis sapien nisl, in rhoncus ex convallis vitae.
                        Suspendisse
                        potenti. Nulla
                        venenatis dapibus erat sed vehicula.
                    </p>
                </div>
                <div>
                    <b>Cons</b>

                    <p>
                        Ut sollicitudin ex sit amet nisl faucibus facilisis. Pellentesque tempus, lacus a
                        tincidunt
                        vestibulum, erat enim semper diam, id elementum nisl nulla nec metus.
                    </p>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading"><h4>Official Statement</h4></div>
                    <div class="panel-body">
                        <p>
                            Class aptent taciti
                            sociosqu
                            ad
                            litora torquent per conubia nostra, per inceptos himenaeos. Etiam quis ligula eget purus
                            vestibulum
                            mattis. Proin eget massa nulla. In ultrices maximus sem sed consectetur. Aliquam id erat
                            nec
                            mi
                            luctus
                            iaculis a vel est.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>