<div class="panel panel-default text-left">
    <div class="panel-heading">
        <h3 class="panel-title">Write Review Department</h3>
    </div>
    <div class="panel-body">
        <form ng-submit="submitAction()">
            <div class="form-group social-buttons">
                <label class="control-label">Rating</label>
                <input type="text" class="rating form-control" birokrazy-star-rating data-size="xs" ng-model="reviewPost.rating" />

                <div class="pull-right">
                    <button class="btn" ng-click="facebookAction()" ng-class="{'btn-facebook': facebook}">
                        <i class="fa fa-facebook"></i>
                    </button>
                    <button class="btn" ng-click="twitterAction()" ng-class="{'btn-twitter': twitter}">
                        <i class="fa fa-twitter"></i>
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Subject</label>
                <input type="text" class="form-control" placeholder="Subject" ng-model="reviewPost.subject">
            </div>
            <div class="form-group">
                <label class="control-label">Keterangan</label>
                <textarea class="form-control" placeholder="Tulis keterangan" rows="4" ng-model="reviewPost.content"></textarea>
            </div>
            <div class="form-group">
                <label for="inputFile">Sisipkan media</label>
                <input type="file" id="inputFile" ng-model="reviewPost.media">
            </div>
            <div class="form-group">
                <label class="control-label">Lokasi</label>
            </div>
            <div class="panel panel-default" ng-controller="oldModule.LokasiPTSPController">
                <div class="panel-body">
                    <div class="form-group">
                        <div>
                            <select class="form-control"
                                    ng-options="option.name for option in daftarProvinsi track by option.id"
                                    ng-init="selectedProvinsi = daftarProvinsi[0]"
                                    ng-model="selectedProvinsi"
                                    ng-change="changeProvinsi(selectedProvinsi)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowKabupatenKota">
                        <div>
                            <select class="form-control"
                                    ng-options="option.name for option in daftarKabupatenKota track by option.id"
                                    ng-init="selectedKabupatenKota = daftarKabupatenKota[0]"
                                    ng-model="selectedKabupatenKota"
                                    ng-change="changeKabupatenKota(selectedKabupatenKota)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowKecamatan">
                        <div>
                            <select class="form-control"
                                    ng-options="option.name for option in daftarKecamatan track by option.id"
                                    ng-init="selectedKecamatan = daftarKecamatan[0]"
                                    ng-model="selectedKecamatan"
                                    ng-change="changeKecamatan(selectedKecamatan)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowKelurahan">
                        <div>
                            <select class="form-control"
                                    ng-options="option.name for option in daftarKelurahan track by option.id"
                                    ng-init="selectedKelurahan = daftarKelurahan[0]"
                                    ng-model="reviewPost.location"
                                    ng-change="changeKelurahan(selectedKelurahan)">
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-show="isShowResult">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    {{currentPTSP.nama}}<br/>
                                    {{currentPTSP.alamat}}<br/>
                                    {{currentPTSP.kodePos}}<br/>
                                    {{currentPTSP.telp}}<br/>
                                    {{currentPTSP.email}}<br/><br/>
                                    Jam Buka:<br/>
                                    {{currentPTSP.jamBuka}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ui-gmap-google-map center='currentPTSP.map.center' zoom='currentPTSP.map.zoom'>
                                <ui-gmap-marker coords="currentPTSP.map.center" idkey="currentPTSP.id">
                                </ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-inline form-group">
                <button type="submit" class="btn btn-primary pull-right">Kirim</button>
                <button ng-click="showPostAction()" type="button" class="btn btn-default">Batal</button>
            </div>
        </form>
    </div>
</div>