<div class="container">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" placeholder="cari">
                            <i class="glyphicon glyphicon-search form-control-feedback"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RhFMIRuHAL4"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4" ng-repeat="highlight in highlights">
            <h2>{{highlight.title}}</h2>

            <p>{{highlight.description}}</p>
        </div>
    </div>
</div>