<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <div class="text-right">
                    <h2>How can Birokrazy help you?</h2>

                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
                        massa justo
                        sit amet risus.</p>
                </div>
                <div class="form-group">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Cari pengurusan dokumen">
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5">
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9 box-shadow--6dp">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/fjQ7XaMNQNc?rel=0"></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4" ng-repeat="highlight in highlights">
                <h2>{{highlight.title}}</h2>

                <p>{{highlight.description}}</p>
            </div>
        </div>
    </div>
</div>

