<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-md-offset-1">
                <div class="text-right">
                    <h2 class="">Apa yang <span class="hackmdk3-text-color">Birokrazy</span> bisa bantu?</h2>

                    <p>Temukan informasi dan prosedur penerbitan dokumen atau layanan pemerintah yang dibutuhkan.</p>
                </div>
                <form class="form-group" action="/search/pelayanan" method="get" ng-controller="SearchResultController">
                    <div class="form-group has-feedback">
                        <input ng-model="selected"
                               uib-typeahead="find as find.name for find in finds | filter:$viewValue | limitTo:8" type="text"
                               typeahead-on-select="selectAction($item, $model, $label)" typeahead-editable="false" typeahead-focus-first="false"
                               class="form-control" placeholder="Cari pelayanan atau instansi">
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-md-5">
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9 box-shadow--6dp">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/gUqJziDfucE"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-repeat="highlight in highlights" ng-class="{'background-grey': highlight.id % 2 === 0}">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1"
                 ng-class="{'col-md-push-6': highlight.id % 2 === 0, 'col-sm-push-6' : highlight.id % 2 === 0}">
                <img ng-src="/images/{{highlight.image}}" class="img-responsive">
            </div>
            <div class="col-sm-6 col-md-6 highlight-description"
                 ng-class="{'col-md-pull-4': highlight.id % 2 === 0 , 'col-sm-pull-4' : highlight.id % 2 === 0}">
                <p>{{highlight.description}}</p>
            </div>
        </div>
    </div>
</div>

