<div class="panel panel-default">
    <div class="panel-body">

        <p>
            Cari tau dokument apa saja yang kamu perlukan dengan memberi keterangan berikut:
        </p>

        <form>
            <div class="form-group">
                <label class="control-label">Jenis Usaha</label>

                <div>
                    <select class="form-control" ng-init="jenisUsaha = listOfJenisUsaha[0]"
                            ng-options="option.name for option in listOfJenisUsaha track by option.id"
                            ng-model="jenisUsaha"
                            ng-change="jenisUsahaChange(jenisUsaha)">
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="isShowWaralaba">
                <label class="control-label">Apakah usaha akan berupa waralaba</label>

                <div>
                    <select class="form-control"
                            ng-init="waralaba = listOfWaralaba[0]"
                            ng-options="option.name for option in listOfWaralaba track by option.id"
                            ng-model="waralaba"
                            ng-change="waralabaChange(waralaba)">
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default" ng-show="isShowProses">
    <div class="panel-heading"><h2>Persyaratan</h2></div>
    <div class="panel-body">
        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox1"/>
                <label for="checkbox1">Memiliki badan usaha</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox2"/>
                <label for="checkbox2">Memiliki SIUP</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox3"/>
                <label for="checkbox3">Memiliki TDP</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox4"/>
                <label for="checkbox4">Memiliki TDP</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox5"/>
                <label for="checkbox5">Memiliki IMB</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox6"/>
                <label for="checkbox6">Memiliki Surat Keterangan Domisili Perusahaan</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox7"/>
                <label for="checkbox7">Memiliki Izin Gangguan</label>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" ng-show="isShowProses">
    <div class="panel-heading"><h2>Proses</h2></div>
    <div class="panel-body">
        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox8"/>
                <label for="checkbox8">Menyerahkan persyaratan dan berkas pada petugs di kantor Walikota / Kabupaten</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox9"/>
                <label for="checkbox9">Petugas telah mengecek kecocokan berkas dengan kondisi di lapangan</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox10"/>
                <label for="checkbox10">Membayar retribusi yang telah ditentukan</label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox11"/>
                <label for="checkbox11" data-toggle="modal" data-target="#durationModal">Menunggu penerbitan izin usaha.
                        <span
                                class="glyphicon glyphicon-question-sign" hackmdk3-pop-over
                                style="text-indent: 0em;"
                                data-toggle="popover"
                                title="Lama waktu proses"
                                data-trigger="hover"
                                data-container="body"
                                data-placement="auto"
                                data-content="Proses penerbitan izin usaha berlangsung tidak lebih dari 3 Minggu."/>
                </label>
            </div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkbox" id="checkbox10"/>
                <label for="checkbox10">Mengambil surat ijin usaha yang telah diterbitkan di kantor Walikota / Kabupaten.</label>
            </div>
        </div>
        <div class="modal fade" id="durationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Berapa lama waktu yang benar-benar dibutuhkan?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="durasi">Durasi</label>
                                <input type="text" class="form-control" id="durasi" value="3" placeholder="Durasi">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="satuan">Satuan</label>
                                <select class="form-control" id="satuan">
                                    <option>Jam</option>
                                    <option>Hari</option>
                                    <option selected>Minggu</option>
                                    <option>Bulan</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
