<div class="hackmdk3-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Izin Usaha Ritel</h1>
                    <span>Untuk usaha perdagangan barang eceran</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs hackmdk3-nav-justified" role="tablist">
                <li ng-class="{ active: isActive('/izin-usaha')}" role="presentation">
                    <a href="/izin-usaha">Informasi</a>
                </li>
                <li ng-class="{ active: isActive('/izin-usaha/review')}" role="presentation">
                    <a href="/izin-usaha/review">Review</a>
                </li>
                <li ng-class="{ active: isActive('/izin-usaha/proses')}" role="presentation">
                    <a href="/izin-usaha/proses">Persyaratan & Proses</a>
                </li>
            </ul>


            <ng-include src="templateUrl"/>
        </div>
    </div>
</div>