<div class="hackmdk3-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Tentang Birokrazy</h1>
                    <span>Bersama menuju birokrasi yang lebih baik.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 text-justify">

            <h4>Birokrazy: Wadah informasi dan pengawasan untuk birokrasi pelayanan publik</h4>

            <p>
                Stakeholder: Code4Nation, Indonesia Corruption Watch, Komisi Pemberantasan Korupsi<br/>
                Lokasi: Jerman
            </p>

            <p>
                Birokrazy merupakan prototype aplikasi web "mobile first / responsiv" yang dikembangkan dalam rangka
                kompetisi Hackathon Merdeka 3.0 yang diselenggarakan oleh Code4Nation bekerja sama dengan
                Indonesian Corruption Watch (ICW) dan Komisi Pemberantasan Korupsi (KPK) pada tanggal 5 dan 6 Desember
                2015 dengan mengangkat tema Anti Korupsi.
            </p>

            <p>
                Aplikasi ini adalah sebuah "social platform" untuk memberikan informasi kepada masyarakat umum mengenai
                persyaratan dan proses kepengurusan dokumen di instansi pemerintah. Masyarakat dapat memberikan
                komentar, menilai dan memberikan laporan terhadap pelayanan publik. Informasi yang terkumpul disajikan
                kembali berupa statistik yang dapat berguna untuk transparansi dan
                perbaikan birokrasi.
            </p>
        </div>
        <div class="col-md-4">
            <h4>The Team</h4>

            <p>
                <b>Developer:</b><br/>
                <a href="https://www.linkedin.com/in/andiswandy" target="_blank"> Andi Sastra Wandy</a> &lt;<a href="mailto: andi.s.wandy@gmail.com" target="_blank">andi.s.wandy@gmail.com</a>&gt;<br/>
                <a href="https://www.linkedin.com/in/purnama" target="_blank"> Arthur Purnama</a> &lt;<a href="mailto: arthur@purnama.de" target="_blank">arthur@purnama.de</a>&gt;<br/>
                <a href="https://www.linkedin.com/in/wsaseno" target="_blank"> Widya Saseno</a> &lt;<a href="mailto: saseno@gmail.com" target="_blank">saseno@gmail.com</a>&gt;<br/>
            </p>
            <p>
                <b>Graphic Designer</b><br />
                <a href="https://www.linkedin.com/in/cherylpurnama" target="_blank"> Anastasia Cheryl Purnama</a> &lt;<a href="mailto: cheryl@purnama.de" target="_blank">cheryl@purnama.de</a>&gt;<br/>
            </p>
        </div>
    </div>
</div>

