<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>Hi {{user.name}}!</h2>
            </div>

        </div>
    </div>
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pengurusan Dokumen</h3>
                </div>
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Start Date</th>
                                <th>Proses Name</th>
                                <th>Progress</th>
                                <th>Finnish Date</th>
                                <th>Review</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="alert-danger">
                                <td>1</td>
                                <td>01/01/2015</td>
                                <td>Pengajuan IMB</td>
                                <td>60%</td>
                                <td>-</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"/>&nbsp;&nbsp;see my review
                                    </button>
                                </td>
                            </tr>

                            <tr class="alert-danger">
                                <td>2</td>
                                <td>01/01/2015</td>
                                <td>Pengajuan E-KTP</td>
                                <td>60%</td>
                                <td>-</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"/>&nbsp;&nbsp;see my review
                                    </button>
                                </td>
                            </tr>
                            <tr class="alert-success">
                                <td>3</td>
                                <td>31/01/2015</td>
                                <td>Pengajuan Passport</td>
                                <td>100%</td>
                                <td>01/03/2015</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"/>&nbsp;&nbsp;see my review
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>