<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>Daftar </h2>

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Start Date</th>
                        <th>Proses Name</th>
                        <th>Progress</th>
                        <th>Finnish Date</th>
                        <th>Review</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>01/01/2015</td>
                        <td>Pengajuan IMB</td>
                        <td>60%</td>
                        <td>-</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"/> see my review
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>31/01/2015</td>
                        <td>Pengajuan E-KTP</td>
                        <td>100%</td>
                        <td>04/03/2015</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"/> see my review
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>