<div class="hackmdk3-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Kantor Walikota</h1>
                    <span>lokasi Kantor Walikota {{walikota.title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="isWalikotaFindPage">
                <p></p>
                <ng-include src="'templates/include.info.lokasi.walikota.tpl.html'"></ng-include>
            </div>

            <div ng-if="isWalikotaInfoPage">
                <ul id="nav-tabs" class="nav nav-tabs hackmdk3-nav-justified xs-collapse">
                    <li ng-class="{ active: isActive('/walikota/{{walikota.pageName}}/informasi') || isActive('/walikota/{{walikota.pageName}}')}" role="presentation"><a href="/walikota/{{walikota.pageName}}/informasi">Informasi</a></li>
                    <li ng-class="{ active: isActive('/walikota/{{walikota.pageName}}/review')}" role="presentation"><a href="/walikota/{{walikota.pageName}}/review">Review</a>
                    </li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Deskripsi</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{walikota.informasi}}</p>
                    </div>
                </div>

            </div>
            <div ng-if="isWalikotaReviewPage">
                <ul id="nav-tabs" class="nav nav-tabs hackmdk3-nav-justified xs-collapse">
                    <li ng-class="{ active: isActive('/walikota/{{walikota.pageName}}/informasi') || isActive('/walikota/{{walikota.pageName}}')}" role="presentation"><a href="/walikota/{{walikota.pageName}}/informasi">Informasi</a></li>
                    <li ng-class="{ active: isActive('/walikota/{{walikota.pageName}}/review')}" role="presentation"><a href="/walikota/{{walikota.pageName}}/review">Review</a>
                    </li>
                </ul>
                <ng-include src="'templates/include.info.review.tpl.html'"></ng-include>
            </div>

        </div>
    </div>

</div>