# Eclipse
.classpath
.settings/
.project

# Node.JS
node_modules
node_tmp

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Build
target
.mvn/
bower_components/
log/
src/main/resources/public
dataSource.db.*