<div class="hackmdk3-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>{{civilService.name}}</h1>
                    <span>{{civilService.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default xs-toggle" data-toggle="collapse" data-target="#nav-tabs"
                    aria-expanded="false" aria-controls="nav-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul id="nav-tabs" class="nav nav-tabs hackmdk3-nav-justified xs-collapse">
                <li ng-class="{ active: isActive('/old/e-ktp')}" role="presentation">
                    <a href="/old/e-ktp">Informasi</a>
                </li>
                <li ng-class="{ active: isActive('/old/e-ktp/review')}" role="presentation">
                    <a href="/old/e-ktp/review">Review</a>
                </li>
                <li ng-class="{ active: isActive('/old/e-ktp/trend')}" role="presentation">
                    <a href="/old/e-ktp/trend">Trend</a>
                </li>
                <li ng-class="{ active: isActive('/old/e-ktp/proses')}" role="presentation">
                    <a href="/old/e-ktp/proses">Persyaratan & Proses</a>
                </li>
            </ul>

            <ng-include src="templateUrl"/>


        </div>
    </div>

</div>