<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Deskripsi</h3>
    </div>
    <div class="panel-body">

        <p>
            Izin Mendirikan Bangunan atau biasa dikenal dengan IMB adalah perizinan yang diberikan oleh
            Kepala
            Daerah kepada pemilik bangunan untuk membangun baru, mengubah, memperluas, mengurangi, dan/atau
            merawat bangunan sesuai dengan persyaratan administratif dan persyaratan teknis yang berlaku.
            IMB
            merupakan salah satu produk hukum untuk mewujudkan tatanan tertentu sehingga tercipta
            ketertiban,
            keamanan, keselamatan, kenyamanan, sekaligus kepastian hukum. Kewajiban setiap orang atau badan
            yang
            akan mendirikan bangunan untuk memiliki Izin Mendirikan Bangunan diatur pada Pasal 5 ayat 1
            Perda 7
            Tahun 2009.
        </p>

        <p>
            IMB akan melegalkan suatu bangunan yang direncanakan sesuai dengan Tata Ruang yang telah
            ditentukan.
            Selain itu, adanya IMB menunjukkan bahwa rencana kostruksi bangunan tersebut juga dapat
            dipertanggungjawabkan
            dengan maksud untuk kepentingan bersama.
        </p>

        <p>
            Peraturan dan perundang-undangan yang memuat IMB adalah sebagai berikut:
        <ul>
            <li>
                Undang-undang no. 28 tahun 2002 tentang Bangunan Gedung
                <span
                        class="glyphicon glyphicon-question-sign" hackmdk3-pop-over
                        style="text-indent: 0em;"
                        data-toggle="popover"
                        title="Undang-undang no. 28 tahun 2002"
                        data-trigger="hover"
                        data-container="body"
                        data-placement="auto"
                        data-content="Setiap bangunan gedung harus memenuhi persyaratan administratif dan persyaratan teknis sesuai dengan fungsi bangunan gedung."/>
            </li>
            <li>
                Undang-undang no. 26 tahun 2007 tentang Penataan Ruang
                <span
                        class="glyphicon glyphicon-question-sign" hackmdk3-pop-over
                        style="text-indent: 0em;"
                        data-toggle="popover"
                        title="Undang-undang no. 26 tahun 2007"
                        data-trigger="hover"
                        data-container="body"
                        data-placement="auto"
                        data-content="Negara menyelenggarakan penataan ruang untuk sebesar-besar kemakmuran rakyat."/>
            </li>
            <li>
                PP no. 36 tahun 2005 tentang Peraturan Pelaksanaan Undang-undang no. 28 tahun 2002 tentang
                Bangunan Gedung.
                <span
                        class="glyphicon glyphicon-question-sign" hackmdk3-pop-over
                        style="text-indent: 0em;"
                        data-toggle="popover"
                        title="PP no. 36 tahun 2005"
                        data-trigger="hover"
                        data-container="body"
                        data-placement="auto"
                        data-content="Pengendalian pemanfaatan ruang dilakukan melalui penetapan peraturan zonasi, perizinan, pemberian insentif dan disinsentif, serta pengenaan sanksi."/>
            </li>
        </ul>
        </p>

        <p>
            Nilai lebih kepemilikan IMB

            Bangunan yang telah ber-IMB memiliki kelebihan dibandingan dengan bangunan yang tidak ber-IMB,
            yakni:
        <ul>
            <li>Bangunan memiliki nilai jual yang tinggi</li>
            <li>Jaminan Kredit Bank</li>
            <li>Peningkatan Status Tanah</li>
            <li>Informasi Peruntukan dan Rencana Jalan</li>
        </ul>
        </p>

    </div>

</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Files</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info box-shadow--6dp info-image" data-toggle="modal" data-target="#prosedur" >
                    <div class="panel-heading">Diagram prosedur pengurusan IMB</div>
                    <div class="panel-body">
                        <img src="images/imb_1.png" alt="Diagram prosedur pengurusan IMB"
                             class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-info box-shadow--6dp info-image" data-toggle="modal" data-target="#persyaratan" >
                    <div class="panel-heading">Diagram Kelengkapan persyaratan</div>
                    <div class="panel-body">
                        <img src="images/imb_2.png" alt="Diagram Kelengkapan persyaratan"
                             class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-info box-shadow--6dp info-image" data-toggle="modal" data-target="#skrd" >
                    <div class="panel-heading">Diagram penerbitan SKRD</div>
                    <div class="panel-body">
                        <img src="images/imb_3.png" alt="Diagram penerbitan SKRD"
                             class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="prosedur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Diagram prosedur pengurusan IMB</h4>
            </div>
            <div class="modal-body">
                <img src="images/imb_1.png" alt="Diagram prosedur pengurusan IMB"
                     class="img-thumbnail img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="persyaratan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Diagram kelengkapan persyaratan</h4>
            </div>
            <div class="modal-body">
                <img src="images/imb_2.png" alt="Diagram kelengkapan persyaratan"
                     class="img-thumbnail img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="skrd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Diagram penerbitan SKRD</h4>
            </div>
            <div class="modal-body">
                <img src="images/imb_3.png" alt="Diagram penerbitan SKRD"
                     class="img-thumbnail img-responsive">
            </div>
        </div>
    </div>
</div>

<ng-include src="'templates/include.info.lokasi.tpl.html'"></ng-include>

<ng-include src="'templates/include.info.review.tpl.html'"></ng-include>