<div class="panel panel-default" ng-controller="oldModule.LokasiKecamatanController">
    <div class="panel-heading">
        <h3 class="panel-title">Lokasi Kantor Kecamatan</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Provinsi</label>

                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-options="option.name for option in daftarProvinsi track by option.id"
                                    ng-init="selectedProvinsi = daftarProvinsi[0]"
                                    ng-model="selectedProvinsi"
                                    ng-change="changeProvinsi(selectedProvinsi)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowKabupatenKota">
                        <label class="col-sm-2 control-label">Kabupaten/ Kota</label>

                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-options="option.name for option in daftarKabupatenKota track by option.id"
                                    ng-init="selectedKabupatenKota = daftarKabupatenKota[0]"
                                    ng-model="selectedKabupatenKota"
                                    ng-change="changeKabupatenKota(selectedKabupatenKota)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowKecamatan">
                        <label class="col-sm-2 control-label">Kecamatan</label>

                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-options="option.name for option in daftarKecamatan track by option.id"
                                    ng-init="selectedKecamatan = daftarKecamatan[0]"
                                    ng-model="selectedKecamatan"
                                    ng-change="changeKecamatan(selectedKecamatan)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowKelurahan">
                        <label class="col-sm-2 control-label">Kelurahan</label>

                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-options="option.name for option in daftarKelurahan track by option.id"
                                    ng-init="selectedKelurahan = daftarKelurahan[0]"
                                    ng-model="selectedKelurahan"
                                    ng-change="changeKelurahan(selectedKelurahan)">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row" ng-show="isShowResultKecamatan">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{currentKecamatan.nama}}</h3>
                        {{currentKecamatan.alamat}}<br />
                        {{currentKecamatan.kodePos}}<br />
                        {{currentKecamatan.telp}}<br />
                        {{currentKecamatan.email}}<hr />
                        Jam Buka: <i>{{currentKecamatan.jamBuka}}</i>&nbsp;&nbsp;
                        <button type="button" class="btn btn-sm btn-info" ng-click="gotoKecamatan(currentKecamatan.link)">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;&nbsp;Open Kecamatan
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ui-gmap-google-map center='currentKecamatan.map.center' zoom='currentKecamatan.map.zoom'>
                    <ui-gmap-marker coords="currentKecamatan.map.center" idkey="currentKecamatan.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>


    </div>
</div>