<div class="panel panel-default" ng-controller="LokasiWalikotaController">
    <div class="panel-heading">
        <h3 class="panel-title">Lokasi Kantor Walikota</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Provinsi</label>

                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-options="option.name for option in daftarProvinsi track by option.id"
                                    ng-init="selectedProvinsi = daftarProvinsi[0]"
                                    ng-model="selectedProvinsi"
                                    ng-change="changeProvinsi(selectedProvinsi)">
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-show="isShowKabupatenKota">
                        <label class="col-sm-2 control-label">Kabupaten/ Kota</label>

                        <div class="col-sm-10">
                            <select class="form-control"
                                    ng-options="option.name for option in daftarKabupatenKota track by option.id"
                                    ng-init="selectedKabupatenKota = daftarKabupatenKota[0]"
                                    ng-model="selectedKabupatenKota"
                                    ng-change="changeKabupatenKota(selectedKabupatenKota)">
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="row" ng-show="isShowResultWalikota">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{{currentWalikota.nama}}</h3>
                        {{currentWalikota.alamat}}<br />
                        {{currentWalikota.kodePos}}<br />
                        {{currentWalikota.telp}}<br />
                        {{currentWalikota.email}}<hr />
                        Jam Buka: <i>{{currentWalikota.jamBuka}}</i>&nbsp;&nbsp;
                        <button type="button" class="btn btn-sm btn-info" ng-click="gotoWalikota(currentWalikota.link)">
                            <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>&nbsp;&nbsp;Open Walikota
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ui-gmap-google-map center='currentWalikota.map.center' zoom='currentWalikota.map.zoom'>
                    <ui-gmap-marker coords="currentWalikota.map.center" idkey="currentWalikota.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>


    </div>
</div>