<div class="hackmdk3-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Kantor Kecamatan</h1>
                    <span>lokasi Kantor Kecamatan {{kecamatan.title}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="isKecamatanFindPage">
                <p></p>
                <ng-include src="'templates/include.info.lokasi.kecamatan.tpl.html'"></ng-include>
            </div>


            <button type="button" class="btn btn-default xs-toggle" data-toggle="collapse" data-target="#nav-tabs"
                    aria-expanded="false" aria-controls="nav-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul id="nav-tabs" class="nav nav-tabs hackmdk3-nav-justified xs-collapse">
                <li ng-class="{ active: isActive('/old/kecamatan/{{kecamatan.pageName}}/informasi') || isActive('/old/kecamatan/{{kecamatan.pageName}}')}"
                    role="presentation"><a href="/old/kecamatan/{{kecamatan.pageName}}/informasi">Informasi</a></li>
                <li ng-class="{ active: isActive('/old/kecamatan/{{kecamatan.pageName}}/review')}" role="presentation"><a
                        href="/old/kecamatan/{{kecamatan.pageName}}/review">Review</a>
                </li>
                <li ng-class="{ active: isActive('/old/kecamatan/{{kecamatan.pageName}}/trend')}" role="presentation"><a
                        href="/old/kecamatan/{{kecamatan.pageName}}/trend">Trend</a>
                </li>
            </ul>

            <ng-include src="templateUrl"></ng-include>

        </div>
    </div>

</div>