<div class="panel panel-default">
    <div class="panel-body">
        <button class="btn btn-success pull-right"><span class="fa fa-save"></span> Simpan </button>
        <p>
            Cari tahu dokumen apa saja yang anda perlukan dengan memberi keterangan berikut:
        </p>

        <form>
            <div class="form-group">
                <label class="control-label">Domisili</label>

                <select class="form-control" ng-init="domisiliPaspor=listOfOptionsDomisili[0]"
                        ng-options="option.name for option in listOfOptionsDomisili track by option.id"
                        ng-model="domisiliPaspor"
                        ng-change="pasporDomisiliPaspor(domisiliPaspor)">
                </select>
            </div>
            <div class="form-group" ng-show="isShowPeruntukan">
                <label class="control-label">Peruntukan</label>

                <select class="form-control" ng-init="peruntukanPaspor=listOfOptionsPeruntukan[0]"
                        ng-options="option.name for option in listOfOptionsPeruntukan track by option.id"
                        ng-model="peruntukanPaspor"
                        ng-change="pasporPeruntukanPaspor(peruntukanPaspor)">
                </select>
            </div>
            <div class="form-group" ng-show="isShowProses">
                <label class="control-label">Pilih proses</label>

                <select class="form-control" ng-init="prosesPaspor=listOfOptionsProses[0]"
                        ng-options="option.name for option in listOfOptionsProses track by option.id"
                        ng-model="prosesPaspor"
                        ng-change="pasporProsesPaspor(prosesPaspor)">
                </select>
            </div>
        </form>
    </div>
</div>


<div class="panel panel-default" ng-show="isShowSyaratDanProses">
    <div class="panel-heading">
        <h3 class="panel-title">Persyaratan Paspor Biasa</h3>
    </div>
    <div class="panel-body">
        <div class="panel-body funkyradio">
            <div class="funkyradio-success"><input type="checkbox" name="checkbox1" id="checkbox1"/><label
                    for="checkbox1">KTP yang masih berlaku</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkbox2" id="checkbox2"/><label
                    for="checkbox2">Foto copy Kartu Keluarga</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkbox3" id="checkbox3"/><label
                    for="checkbox3">Akte lahir, akte nikah, ijazah atau surat baptis</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkbox4" id="checkbox4"/><label
                    for="checkbox4">Surat pewarganegaraan Indonesia bagi WNA yang sudah memperoleh
                kewarganegaraan Indonesia</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkbox5" id="checkbox5"/><label
                    for="checkbox5">Surat penetapan ganti nama (Bila pernah ganti nama)</label></div>
        </div>

    </div>

</div>

<div class="panel panel-default" ng-show="isShowSyaratDanProses">
    <div class="panel-heading">
        <h3 class="panel-title">Proses Pengajuan Paspor</h3>
    </div>
    <div class="panel-body">

        <p>
            Proses pembuatan paspor anda:
            <br/>

            <uib-progressbar class="progress-striped" max="100" value="currentBar"><span
                    style="color:white; white-space:nowrap;">{{currentBar}}%</span></uib-progressbar>
        </p>

        <div class="panel-body funkyradio">
            <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesPass01"
                                                   id="checkboxProsesPass01" ng-model="confirmed1"
                                                   ng-change="processCheckBox(confirmed1)"/><label
                    for="checkboxProsesPass01">Mengisi formulir data & melampirkan dokumen
                persyaratan</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesPass02"
                                                   id="checkboxProsesPass02" ng-model="confirmed2"
                                                   ng-change="processCheckBox(confirmed2)"
                                                   ng-disabled="isActiveStep2"/><label
                    for="checkboxProsesPass02">Data pemohon & kelengkapan dokumen
                terverifikasi</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesPass03"
                                                   id="checkboxProsesPass03" ng-model="confirmed3"
                                                   ng-change="processCheckBox(confirmed3)"
                                                   ng-disabled="isActiveStep3"/><label
                    for="checkboxProsesPass03">Pengambilan foto dan sidik jari</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesPass04"
                                                   id="checkboxProsesPass04" ng-model="confirmed4"
                                                   ng-change="processCheckBox(confirmed4)" ng-disabled="isActiveStep4"/><label
                    for="checkboxProsesPass04">Proses wawancara</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesPass05"
                                                   id="checkboxProsesPass05" ng-model="confirmed5"
                                                   ng-change="processCheckBox(confirmed5)" ng-disabled="isActiveStep5"/><label
                    for="checkboxProsesPass05">Menerima tanda bukti sudah melakukan pengambilan foto, sidik
                jari dan wawancara</label></div>
            <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesPass06"
                                                   id="checkboxProsesPass06" ng-model="confirmed6"
                                                   ng-change="processCheckBox(confirmed6)" ng-disabled="isActiveStep6"/><label
                    for="checkboxProsesPass06">Membayar biaya pembuatan paspor</label></div>
            <div class="funkyradio-success">
                <input type="checkbox" name="checkboxProsesPass07" ng-model="duration.checked" ng-click="modalOpen()"
                       id="checkboxProsesPass07" ng-change="processCheckBox(duration.checked)"
                       ng-disabled="isActiveStep7"/>
                <label for="checkboxProsesPass07">Menunggu paspor selesai dibuat <span
                        class="glyphicon glyphicon-question-sign" hackmdk3-pop-over
                        style="text-indent: 0em;"
                        data-toggle="popover"
                        title="Lama waktu proses"
                        data-trigger="hover"
                        data-container="body"
                        data-placement="auto"
                        data-content="Proses pembuatan paspor berlangsung tidak lebih dari 4 hari sejak wawancara dilakukan."/>

                </label>
            </div>
            <div class="funkyradio-success"><input type="checkbox" name="checkboxProsesPass08"
                                                   id="checkboxProsesPass08" ng-model="confirmed8"
                                                   ng-change="processCheckBox(confirmed8)" ng-disabled="isActiveStep8"/><label
                    for="checkboxProsesPass08">Mengambil paspor & menandatangani bukti sudah menerima
                paspor didepan petugas</label></div>
        </div>
    </div>
</div>



