<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Deskripsi</h3>
    </div>
    <div class="panel-body">

        <p>
            Paspor Republik Indonesia adalah dokumen perjalanan yang diterbitkan oleh Direktorat Jenderal Imigrasi,
            Kementerian Hukum dan Hak Asasi Manusia, dan perwakilan RI di luar negeri. Paspor ini hanya diberikan kepada
            Warga Negara Indonesia.
        </p>

        <p>
            Paspor ini berisi 24 atau 48 halaman dan berlaku selama 5 tahun. Namun paspor yang diterbitkan oleh
            perwakilan
            RI di luar negeri lazimnya menerbitkan paspor dengan jangka waktu 3 tahun dan dapat diperpanjang 2 tahun
            setelahnya.
        </p>

        <p>
            Paspor RI merupakan dokumen milik negara yang dapat dibatalkan atau dicabut sewaktu-waktu oleh negara tanpa
            pemberitahuan. Paspor ini diterbitkan bilingual dalam bahasa Indonesia dan Inggris.
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Files</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-info box-shadow--6dp info-image" data-toggle="modal" data-target="#myModal" >
                    <div class="panel-heading">Diagram proses penerbitan paspor</div>
                    <div class="panel-body">
                        <img src="images/passport.png" alt="Diagram proses penerbitan paspor"
                             class="img-thumbnail img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Diagram proses penerbitan paspor</h4>
            </div>
            <div class="modal-body">
                <img src="images/passport.png" alt="Diagram proses penerbitan paspor"
                     class="img-thumbnail img-responsive">
            </div>
        </div>
    </div>
</div>


<ng-include src="'templates/include.info.lokasi.tpl.html'"></ng-include>

<ng-include src="'templates/include.info.review.tpl.html'"></ng-include>