<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>Users</h2>

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Version</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="user in users">
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.version}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <button type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit" /> Edit
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>