<form ng-submit="submitAction()">
    <div class="form-group">
        <label for="civilServiceName">Name</label>
        <input type="text" ng-model="civilService.name" class="form-control" id="civilServiceName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="civilServiceUniqueName">Unique Name</label>
        <input type="text" ng-model="civilService.uniqueName" class="form-control" id="civilServiceUniqueName" placeholder="Unique Name">
    </div>
    <div class="form-group">
        <label for="civilServicePrice">Price</label>
        <input type="text" ng-model="civilService.price" class="form-control" id="civilServicePrice" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="civilServiceDescription">Description</label>
        <input type="text" ng-model="civilService.description" class="form-control" id="civilServiceDescription"
               placeholder="Short Description">
    </div>
    <div class="form-group">
        <label for="civilServiceContent">Content</label>
        <text-angular id="civilServiceContent" style="height: 120px;" ng-model="civilService.content"></text-angular>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>