/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Footer */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
}

.footer {
    background-color: #b9f2ef;
}

/* Footer */

.jumbotron {
    background-color: #b9f2ef;
}

.star-rating {
    display: inline;
}

.provice-name {
    text-align: center;
    vertical-align: middle;
}

.height-360 {
    height: 360px;
}

.display-inline {
    display: inline;
}

@media screen and (max-width: 767px) {
    .jumbotron .text-right {
        text-align: left;
    }
}

.jumbotron h2 {
    font-size: 2em;
    font-weight: 600;
}

.jumbotron p {
    font-size: 1em;
}

.jumbotron .embed-responsive {
    border: 10px solid white;
}












