/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Footer */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
}

.footer {
    background-color: #b9f2ef;
}

/* Footer */

.jumbotron {
    background-color: #b9f2ef;
}

.star-rating {
    display: inline;
}

.provice-name {
    text-align: center;
    vertical-align: middle;
}

.height-360 {
    height: 360px;
}

.display-inline {
    display: inline;
}

.nav-tabs.hackmdk3-nav-justified {
    padding-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .jumbotron .text-right {
        text-align: left;
    }

    .nav-tabs.hackmdk3-nav-justified {
        width: 100%;
        border-bottom: 0;
    }

    .nav-tabs.hackmdk3-nav-justified > li {
        float: none;
    }

    .nav-tabs.hackmdk3-nav-justified > li > a {
        margin-bottom: 5px;
        text-align: center;
    }

    .nav-tabs.hackmdk3-nav-justified > .dropdown .dropdown-menu {
        top: auto;
        left: auto;
    }

    .nav-tabs.hackmdk3-nav-justified > li > a {
        margin-right: 0;
        border-radius: 4px;
    }

    .nav-tabs.hackmdk3-nav-justified > .active > a,
    .nav-tabs.hackmdk3-nav-justified > .active > a:hover,
    .nav-tabs.hackmdk3-nav-justified > .active > a:focus {
        border: 1px solid #ddd;
    }

    .hackmdk3-nav-justified {
        width: 100%;
    }

    .hackmdk3-nav-justified > li {
        float: none;
    }

    .hackmdk3-nav-justified > li > a {
        margin-bottom: 5px;
        text-align: center;
    }

    .hackmdk3-nav-justified > .dropdown .dropdown-menu {
        top: auto;
        left: auto;
    }
}

.jumbotron h2 {
    font-size: 2em;
    font-weight: 600;
}

.jumbotron p {
    font-size: 1em;
}

.jumbotron .embed-responsive {
    border: 10px solid white;
}

.hackmdk3-page-header {
    background-color: #b9f2ef;
}

.hackmdk3-page-header .page-header {
    border-bottom: none;
}

.background-grey {
    background-color: #e2e3e3;
    padding-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
    .highlight-description {
        margin-top: 20px;
        font-size: 1.4em;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .highlight-description {
        margin-top: 10px;
        font-size: 1.2em;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .highlight-description {
        margin-top: 20px;
    }
}

.footer .container footer{
    height: 80px;
    width: 100%;
    display: table;
    text-align: center;
}
.footer .container footer *{
    display: table-cell;
    vertical-align: middle;
}








