<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Deskripsi</h3>
    </div>
    <div class="panel-body" align="justify" ng-bind-html="civilService.content">
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Files</h3>
    </div>
    <div class="panel-body">
        <div class="row" ng-repeat="rows in civilService.infographicList">
            <div class="col-md-3" ng-repeat="infographic in rows">
                <div class="panel panel-info box-shadow--6dp info-image" data-toggle="modal" data-target="#infographicModal{{infographic.id}}">
                    <div class="panel-heading">{{infographic.description}}</div>
                    <div class="panel-body">
                        <img src="{{infographic.resource}}" alt="{{infographic.description}}"
                             class="img-thumbnail img-responsive">
                    </div>
                </div>

                <div class="modal fade" id="infographicModal{{infographic.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">{{infographic.description}}</h4>
                            </div>
                            <div class="modal-body">
                                <img src="{{infographic.resource}}" alt="{{infographic.description}}"
                                     class="img-thumbnail img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-include src="'templates/include.info.lokasi.tpl.html'"></ng-include>

<ng-include src="'templates/include.info.review.tpl.html'"></ng-include>