<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Deskripsi</h3>
    </div>
    <div class="panel-body" align="justify" ng-bind-html="civilService.content">
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Files</h3>
    </div>
    <div class="panel-body">
        <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info box-shadow--6dp info-image" data-toggle="modal" data-target="#myModal" >
                <div class="panel-heading">Diagram proses pembuatan E-KTP</div>
                <div class="panel-body">
                    <img src="images/e_ktp.png" alt="Diagram proses pembuatan E-KTP"
                         class="img-thumbnail img-responsive">
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Diagram proses pembuatan E-KTP</h4>
            </div>
            <div class="modal-body">
                <img src="images/e_ktp.png" alt="Diagram proses pembuatan E-KTP"
                     class="img-thumbnail img-responsive">
            </div>
        </div>
    </div>
</div>
<ng-include src="'templates/include.info.lokasi.tpl.html'"></ng-include>

<ng-include src="'templates/include.info.review.tpl.html'"></ng-include>